:root {
  --font-family: "Lato", sans-serif;
  --content-width: 1230px;
  --content-width-fluid: 1860px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-fluid: calc(var(--content-width-fluid) + (var(--container-offset) * 2));
  --white: #ffffff;
  --primary: #17696A;
  --success: #03CEA4;
  --danger: #FF4242;
  --warning: #F89828;
  --info: #5A87FC;
  --gray900: #1E212C;
  --gray800: #424551;
  --gray700: #787A80;
  --gray600: #9A9CA5;
  --gray500: #B3B7BC;
  --gray400: #D7DADD;
  --gray300: #E5E8ED;
  --gray200: #F4F5F7;
  --gray100: #F9F9F9;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container__fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width-fluid);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid var(--primary);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--primary);
}

.btn-outline {
  font-family: "Lato";
  font-style: normal;
  color: var(--primary);
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--primary);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn-outline:hover {
  color: var(--white);
  background-color: var(--primary);
}

.title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray900);
}

.header .header-top {
  background-color: var(--gray900);
  padding: 11px 0;
}
.header .header-top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-top__phone {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
}
.header .header-top__number {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .header-top__number:hover {
  color: var(--success);
}
.header .header-top__menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 194px;
}
.header .header-top__item:not(:last-child) {
  margin-right: 32px;
}
.header .header-top__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .header-top__link:hover {
  color: var(--success);
  text-decoration: underline;
}
.header .header-top__languages {
  margin-right: auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 32px;
  background-image: url("../img/flag-usa.svg");
  background-position: left 3px;
  background-repeat: no-repeat;
  background-size: 20px 12px;
  position: relative;
  cursor: pointer;
}
.header .header-top__languages:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -15px;
  background-image: url("../img/down-chevron.svg");
  width: 12px;
  height: 12px;
}
.header .header-top__profile {
  margin-left: 60px;
  padding-left: 24px;
  background-image: url("../img/profile.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
}
.header .header-top__profile a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .header-top__profile a:hover {
  color: var(--success);
}
/*# sourceMappingURL=main.css.map */