<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__wrap">
        <div class="header-top__phone">Available 24/7 at <a href="tel:4055550128" class="header-top__number">(405) 555-0128</a></div>
        <ul class="header-top__menu">
          <li class="header-top__item"><a href="#" class="header-top__link">Delivery & returns</a></li>
          <li class="header-top__item"><a href="#" class="header-top__link">Track order</a></li>
          <li class="header-top__item"><a href="#" class="header-top__link">Blog</a></li>
          <li class="header-top__item"><a href="#" class="header-top__link">Contacts</a></li>
        </ul>
        <div class="header-top__languages">Eng / $</div>
        <div class="header-top__profile">
          <a href="#" class="header-top__login">Log in</a> /
          <a href="#" class="header-top__register">Register</a>
        </div>
      </div>
    </div>
  </div>
</header>
