:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --content-width-fluid: 1860px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-fluid: calc(var(--content-width-fluid) + (var(--container-offset) * 2));

  // colors
  --white: #ffffff;
  --primary: #17696A;
  --success: #03CEA4;
  --danger: #FF4242;
  --warning: #F89828;
  --info: #5A87FC;

}
